
  <h2>Checkbox example</h2>
  <mat-checkbox  >Checked</mat-checkbox>
  <mat-checkbox  >Indeterminate</mat-checkbox>

  <hr>
  <h2>Autocomplete example</h2>
  <section>

      <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{option}}
      </mat-option>
      </mat-autocomplete>

  </section>
  <hr>
  <h2>Datepicker example</h2>
  <!-- <mat-form-field class="example-full-width"> -->
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker #picker></mat-datepicker>
  <!-- </mat-form-field> -->
  <button mat-raised-button (click)="picker.open()">Open</button>

<hr>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>

<hr>

<div>
  <h2>Form field example</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>

<hr>
<h2>Radio Button example</h2>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Computer 1</mat-radio-button>
  <mat-radio-button value="2">Laptop 2</mat-radio-button>
</mat-radio-group>

<hr>
<h2>Select example</h2>
<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
